.containerGeneral{
    width: 100%;
    max-width: 600px;
}
.containerMain{
    position: relative;
}



.scrollContainer{

    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
    max-height: calc(100vh - 350px);
}
.scrollContainer::-webkit-scrollbar{
    width: 12px;
}
.scrollContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(47, 47, 55, 1);
    border-radius: 10px;
}
.scrollContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(133, 133, 173, 1);
}
.containerTitle{
    padding-top: 40px;
    padding-bottom: 20px;
}
.containerSubTitle{
    display: flex;
    flex-direction: column;
}
.containerSubTitle>div{
    display: flex;
}
.wrapper{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.counterRelative {
    position: relative;
    text-align: center;
}
.price{
    text-align: center;
}
.element{
    width: 280px;
}
.alignText{
    text-align: center;
}
.centered{
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
}