.navbarList{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0;
    width: 100%;
}
ul>li{
    display: flex;
}
a{
    color: white;
    font-family: 'Jet Brains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    display: flex;
    align-items: center;
    text-decoration:none;
}

.navbarList > li > a> svg{
 margin: 5px;

}
logo{
    height: 40px;
 }